<div class="container-center" xmlns="http://www.w3.org/1999/html">
  <div class="container">

    {#<label for="fio"></label>
    <input id="fio" type="text"/>
    <button class="btn btn-default form1-send" data-url="{{ path('find', {'id': 1}) }}">Send</button>#}
    <div class="container">
      <h1 class="well">Форма поиска</h1>
      <div class="text-container">
        <strong>
          Необходимо найти следующие данные: <br/>
          ФИО: Иванов Иван Иванович, 1993 года рождения, пол мужской<br/>
          Российское гражданство, адрес: г.Москва, ул. Бауманская, д.1<br/>
          Факультет ИУ, кафедра ИУ-5, группа 112
        </strong>
      </div>
      <div class="col-lg-12 well center-block" style="margin: 0;display: table;">
        <button class="btn btn-success pull-left form-start">Начать</button>
        <div class="row">
          <form>
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12 form-group">
                  <label class="pull-left">ФИО</label>
                  <input type="text" name="fio" placeholder="Введите ФИО" class="form-control">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 form-group">
                  <label class="pull-left">Год рождения</label>
                  <input type="text" name="year" placeholder="Введите год рождения" class="form-control">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 form-group">
                  <label class="pull-left">Пол</label>
                  <select class="pull-left" name="gender">
                    <option value="m">М</option>
                    <option value="f">Ж</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="pull-left">Гражданство</label>
                <input type="text" name="country" placeholder="Введите гражданство" class="form-control">
              </div>
              <div class="form-group">
                <label class="pull-left">Адрес</label>
                <input type="text" name="address" placeholder="Введите адрес" class="form-control">
              </div>
              <div class="form-group">
                <label class="pull-left">Факультет</label>
                <input type="text" name="faculty" placeholder="Введите факультет" class="form-control">
              </div>
              <div class="form-group">
                <label class="pull-left">Кафедра</label>
                <input type="text" name="department" placeholder="Введите кафедру" class="form-control">
              </div>
              <div class="form-group">
                <label class="pull-left">Группа</label>
                <input type="text" name="group" placeholder="Введите группу" class="form-control">
              </div>
              <button type="button" class="btn btn-lg btn-success form-confirm"
                data-url="{{ path('find', {'id': 1}) }}">Подтвердить</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
