<div id="container" data-url="{{ path('getData') }}" style="width:100%; height:400px;"></div>
<button class="btn btn-info average" style="display: table; margin: 0 auto;">Построить среднее значение</button>
<script type="text/javascript" src="../Assets/js/highcharts.js"></script>
<script type="text/javascript" src="../Assets/js/highcharts-dwa.js"></script>
<script type="text/javascript" src="../Assets/js/statistics.js"></script>
